@charset "utf-8";
/*--- tooltips ---*/
#s-m-t-tooltip {
	color:#333;
	background-color:#fafafa;
	font-size:10px;
	font-family:'Open Sans', helvetica, sans-serif;
	letter-spacing:1px;
	text-transform:uppercase;
	text-align:center;
	position:absolute;
	padding:3px 5px;
	margin-top:30px;
	border:1px solid #eee;
	z-index:9999;
}

/*--- selection ---*/
::-moz-selection{ background:#eee; color:#222; }
::selection { background:#eee; color:#222; }
 
/*--- scrollbar ---*/
::-webkit-scrollbar {
    width:7px;
    height:7px;
    background:#fff;
}

::-webkit-scrollbar-thumb {  
    background-color:#553900; /* scrollbar colour */
}

::-webkit-scrollbar-track {
	background-color:#eee; /* scrollbar colour */
}

/*--- general ---*/
body {
	background:#fff;
	color:#333;
	background-size:cover;
	margin:0 auto;
	font-family:'Montserrat', sans-serif;
	font-size:14px;
}

h1 {
	font-family:'Raleway', sans-serif;
	font-size:26px;
	font-weight:600;
	text-transform:uppercase;
	text-align:center;
	letter-spacing:4px;
}

h2 {
	font-family:'Raleway', sans-serif;
	font-size:24px;
	font-weight:600;
	text-transform:uppercase;
	text-align:center;
	letter-spacing:4px;
}

h3 {
	font-family:'Raleway', sans-serif;
	font-size:22px;
	font-weight:600;
	text-transform:uppercase;
	text-align:center;
	letter-spacing:4px;
}

h4 {
	font-family:'Raleway', sans-serif;
	font-size:20px;
	font-weight:600;
	text-transform:uppercase;
	text-align:center;
	letter-spacing:4px;
}

h5 {
	font-family:'Raleway', sans-serif;
	font-size:18px;
	font-weight:600;
	text-transform:lowercase;
	text-align:center;
	letter-spacing:4px;
}

h6 {
	font-family:'Raleway', sans-serif;
	font-size:16px;
	font-weight:600;
	text-transform:lowercase;
	text-align:center;
	letter-spacing:4px;
}

b, strong {
	letter-spacing:2px;
}
i, em { font-style:italic; }

p { text-align:left; }

blockquote {
    padding-left:10px;
    margin:0;
	border-left:1px solid #f96854;
}

a {
	text-decoration:none;
	color:#c9283d; /* links colour */
}

a:hover {
	color:#ff6c40; /* links hover colour */
	cursor:pointer;
}

a.active { color:#ff6c40; }

/*--- header & navigation ---*/
.content {
	margin:0 auto;
	width:100vw;
}

#header {
    width:100vw;
    height:calc(100vh - 150px);
    background-image:url('images/header.jpg');
    background-repeat:no-repeat;
    background-attachment:relative;
    background-size:cover;
    background-position:center;
    display:block;
}

#navi {
	position:relative;
	top:0!important;
	width:100vw;
	height:80px;
	background:#553900;
	border:1px solid #553900;
	z-index:9999!important;
}

.icon {
    float:left;
    padding:15px 20px;
}

.icon img {
    width:50px;
    height:auto;
}

.title {
    position:relative;
	margin:20px 70px;
	width:500px;
	letter-spacing:1px;
    font-size:30px;
    line-height:30px;
    color:#ffcc33;
	font-weight:600;
    font-style:italic;
    font-family:'Playfair Display', times, serif;
}

#nav {
    position:relative;
    float:right;
    margin-right:20px;
    margin-top:-40px;
	letter-spacing:2px;
    text-align:right;
    text-transform:uppercase;
	font-weight:bold;
}

#nav ul {
	list-style:none;
	display:block;
	margin:-10px 0px;
}

#nav li {
	float:left;
	display:inline-flex;
}

#nav li a {
	margin:10px;
	color:#ffcc33;
	text-decoration:none;
}

#nav li a:empty {
	display:none;
}

#nav li a.active {
	color:#c9283d;
	border-bottom:1px solid #c9283d;
}

#nav li a:hover {
	color:#c9283d;
	border-bottom:1px solid #c9283d;
}

/*--- content ---*/
#about {
	height:700px;
	background:#fff;
	color:#333;
	padding:5%;
	font-size:16px;
}

#services {
	height:600px;
	background:#775100;
	color:#fff;
	padding:5%;
	font-size:16px;
}

#team {
	height:700px;
	background:#fff;
	color:#333;
	padding:5%;
}

#team img { border-radius:100%; }

#contact {
	height:800px;
	background:#775100;
	color:#fff;
	padding:5%;
	font-size:16px;
}

/*--- services ---*/
#col {
	position:relative;
	margin:10px auto;
	width:calc((350px + 40px + 2px) * 3);
    /* ((box width + 2*margin + 2*border width) * number of columns) */
}

.box {
	position:block;
	width:350px; /* image width x 2 + 30px */
	margin:20px;
	float:left;
}

.box img {
	position:relative;
	width:350px; /* image width */
}

.box h1 {
	background:#fafafa;
	font-family:'Raleway', sans-serif;
	font-size:20px;
	font-weight:600;
	text-transform:uppercase;
	text-align:center;
	letter-spacing:4px;
	padding:10px;
	border-bottom:1px solid #c9283d;
}

.box .t {
	font-family:'Montserrat', sans-serif;
	font-size:16px;
	text-align:center;
	color:#fff;
	margin:0 auto;
}

/*-- social --*/
#social {
    position:relative;
	margin:0 auto;
	padding:30px 40px 5px 40px;
    text-align:center;
}

#social i {
    font-size:20px;
	padding:7px;
    margin:2px;
	background:#fafafa;
	border-bottom:1px solid #c9283d;
}

#social i:hover { background:#fff; }

/*--- footer ---*/
footer {
	position:relative;
	height:150px;
	bottom:0;
	margin:0 auto;
	padding:20px 100px;
	background:#553900;
	color:#fff;
	text-align:center;
	letter-spacing:.5px;
}

.logo {
    float:left;
    padding:20px 20px 0px;
}

.logo img {
    width:70px;
    height:auto;
}